DB_HOST=localhost
DB_PORT=5432
DB_NAME=pitstop
DB_USER=pitstop
DB_PASSWORD=pitstop_dev_password
ERGAST_BASE_URL=https://api.jolpi.ca/ergast/f1
SEASONS_TO_FETCH=2020,2021,2022,2023,2024
INGESTION_CRON=0 3 * * 1
INGESTION_TIMEZONE=Australia/Brisbane
INGESTION_RUN_ON_STARTUP=false
INGESTION_METRICS_PORT=9101
INGESTION_ALERT_WEBHOOK_URL=
